<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongyuan.tengpicturebackend.mapper.ImageGenTaskMapper">

    <resultMap id="BaseResultMap" type="com.zhongyuan.tengpicturebackend.model.entity.ImageGenTask">
            <id property="taskId" column="taskId" />
            <result property="startTime" column="startTime" />
            <result property="endTime" column="endTime" />
            <result property="url" column="url" />
            <result property="status" column="status" />
            <result property="userId" column="userId" />
    </resultMap>

    <sql id="Base_Column_List">
        taskId,startTime,endTime,url,status,userId
    </sql>
</mapper>
