<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongyuan.tengpicturebackend.mapper.SpaceUserMapper">

    <resultMap id="BaseResultMap" type="com.zhongyuan.tengpicturebackend.model.entity.SpaceUser">
            <id property="id" column="id" />
            <result property="spaceId" column="spaceId" />
            <result property="userId" column="userId" />
            <result property="spaceRole" column="spaceRole" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        id,spaceId,userId,spaceRole,createTime,updateTime
    </sql>
    <!-- 查询空间成员信息，返回 Map 格式 -->
    <select id="getSpaceMembers" resultType="com.zhongyuan.tengpicturebackend.model.vo.SpaceMemberVo">
        SELECT su.userId , u.userAvatar AS userAvatar, su.spaceRole
        FROM space_user su
                 JOIN user u ON su.userId = u.id
        WHERE su.spaceId = #{spaceId}
    </select>

</mapper>
